/*
Colores usados:
    Primario:   #ffab00
    Light:      #ffdd4b
    Dark:       #c67c00
    Muy Darks:  

    Secudario:  #ffecb3
    Light:      #ffffe5
    Dark:       #cbba83
*/

/*Parte del header de la pagina principal*/

header {
    background-color: #ffab00;
    /*border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;*/
    margin: 0px;
}

div.cabezal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
    margin-right: 0.5em;
    margin-bottom: 0px
}

div.logo img.logo {
    height: 2.5em;
    width: 2.5em;
}

div.menu img.menu {
    height: 2.5em;
    width: 2.5em;
}

div.menu {
    display: flex;
    justify-content: flex-end;
}

nav#menu_principal {
    display: flex;
    justify-content: flex-end;
}

nav#menu_principal ul {
    list-style-type: none;
    border: 3px solid #c67c00;
    padding: 0px;
    margin: 0px;
}

nav#menu_principal ul li {
    border: 3px solid #c67c00;
    text-align: center;
}

/*Parte central de la página*/

div.central {
    background-image: url("../images/imagenContrataYa.jpg");
    background-color: white;
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

div.central h2 {
text-align:center;
margin-top: 0px;
}

div.central p {
    text-align: center;
}

button.botonEnlace {
    display: block;
    background-color: #ffab00;
    border: 3px solid #c67c00;
    margin: 1em auto;
    height: 4em;
    width: 16em;
    border-radius: 3em;
}

button.botonEnlace:hover {
    background-color: #c67c00;
    border: 3px solid #c67c00;
    color: white;
}

button.botonEnlace#Tarifas {
    height: 4em;
    width: 16em;
    font-weight: bolder;
}

button.botonEnlace#Login {
    height: 2.9em;
    width: 8em;
    margin-right: 1em;
}

/*Parte del footer de la pagina principal*/

footer {
    background-color: #ffab00;
    /*border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;*/
}

div.copy {
    text-align: center;
}

div.redesSociales {
    text-align: center;
}

div.footer {
    display: flex;
    justify-content: space-around;
}

div.izquierda {
    text-align: left;
}

div.derecha {
    text-align: right;
}

hr.footer {
    border-color: black;
}

div.CreativeCommons {
    text-align: center;
}
