.botonEnlace {
    display: block;
    background-color: #3cc4e6;
    border: 3px solid #395D66;
    margin: 1rem auto;
    height: 4rem;
    width: 16rem;
    border-radius: .5rem;
    font-weight: bold;
}

.botonEnlace:hover {
    background-color: #2F99B3;
    border: 3px solid #1B5766;
}

.botonEnlace:active {
    background-color: #395D66;
    border: 3px solid #395D66;
    color: white;
}