.botonEnlace {


    display: block;
    background-color: #3cc4e6;
    border: 3px solid #395D66;
    margin: 1rem auto;
    height: 3.5rem;
    width: 11rem !important;
    padding: 0rem 0rem 0.25rem 0rem !important;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.6rem !important;
    /* color: #172122;
    border: solid #172122;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 9px; */
}

.botonEnlace:hover {
    background-color: #2F99B3;
    border: 3px solid #1B5766;
}

.botonEnlace:active {
    background-color: #3cc4e6;
    border: 3px solid #395D66;
    color: white;
}
