.botonEnlace {
    
    /* 
    display: block;
    background-color: #3cc4e6;
    border: 3px solid #395D66;
    margin: 1rem auto;
    height: 4rem;
    width: 16rem;
    border-radius: 3px;
    font-weight: bold; */
    color: #172122;
    border: solid #172122;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 9px;
}

.botonEnlace:hover {
    /* background-color: #2F99B3;
    border: 3px solid #1B5766; */
    background-color: #172122;
    border: 3px solid #172122;
    color:white;
}

.botonEnlace:active {
    background-color: #3cc4e6;
    border: 3px solid #172122;
    color: #172122;
}