body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ffffe5;
}

/*-------------------------------------------------

.contenedor {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: rgb(253, 245, 228);
}

-------------------------------------------------*/

header.cabezera {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0.5rem;
    flex: 0 1 60px;
    max-height: 60px;
}

header.cabezera img {
    margin-right: 1rem;
    max-width: 50px;
}

/*-------------------------------------------------*/

.contenidoCentral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 10%;
    margin-bottom: auto;
}

/*-------------------------------------------------*/

.botonContra {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
    margin: 0 auto;
    margin-top: 2rem;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media(min-width:991px) {
    a#atras {
        visibility: hidden;
    }
}
