html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

section {
    background: url(../images/campo5.jpg);
    background-size: cover;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.titulo {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: none;
}

div.titulo h2 {
    vertical-align: bottom;
    text-align: center;
    margin-top: 0 1.5rem;
}
