footer {
    background-color: #010608;
    font-family: sans-serif;
      position: relative;
      bottom: 0;
      width: 100%;
}

footer div.copy {
    text-align: center;
    color: #395D66;
}

footer div.redesSociales {
    text-align: center;
}

footer div.redesSociales img {
    width: 2rem;
}

footer a {
    text-decoration: none;
    color: #395D66;
}

footer a:hover {
    text-decoration: none;
    color: #2F99B3;
}
