
html{
      height: 100%;
  position: relative;
}
header {
    background-color: #010608;
    margin: 0px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0rem;
    margin-right: 0.5rem;
    margin-bottom: 0px;
}

.botones{
    display: flex;
    text-align: right;
}

div.logo img.logo {
    height: 5rem;
    width: 15rem;
    margin-left: -1.6rem;
}


@media(min-width:991px) {
    button.navbar-toggler.navbar-toggler-right {
        visibility: hidden;
    }
}