/*html {
    height: 100%;
    position: relative;
}*/

header {
    background: white;
/*    background-color: #010608;*/
    margin: 0px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}

header .cabezal .fa{
    font-size: 2rem;
    color: #3cc4e6;
    
}

header .cabezal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0rem;
    margin-right: 0.5rem;
    margin-bottom: 0px;
}

header .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4rem;
}
header .logo a{
    width: 4rem;
}
header .logo a img{
    height: 4rem;
}

header .cabezal {
    
}

/*
.botones {
    display: flex;
    text-align: right;
}
*/

/*
div.logo img.logo {
    height: 15%;
    width: 15%;
    margin-left: 1.6rem;
}
*/

.cabezal .logo .volver {
    height: 15%;
    width: 15%;
}


@media(min-width:991px) {
    button.navbar-toggler.navbar-toggler-right {
        visibility: hidden;
    }
}
