/*
Colores usados:
    Primario:   #ffab00
    Light:      #ffdd4b
    Dark:       #c67c00
    Muy Darks:  

    Secudario:  #ffecb3
    Light:      #ffffe5
    Dark:       #cbba83
*/
/*

header{
    width: 100%;
    height: 3rem;
}

header .cabezal .logo a img{
    width: 100px;
    height: 50px;
}
header .cabezal .fa{
    font-size: 2rem;
    color: #3cc4e6;
}

.volver {
    height: 3rem;
    width: 3rem;
    padding-right: 0;
    margin-right: 0;
    position: absolute;
    right: 2rem;
    top: 1rem;
}
*/

body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    background-image: url(../images/campo2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.alert-danger {
    text-align: center;
    width: 200px;
    height: 50px;
}

div.central {
    /*background-size: cover;
    background-position: center;*/
    background-color: rgba(182, 191, 185, 0.46);
    margin: 3rem auto;
    padding: 0px;
    height: 25rem;
    width: 20rem;
    display: block;
    border: solid 1px black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

div.central h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}


/*Formulario*/

form.login {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.user_login {
    width: 177px;
    margin-top: 0px;
    margin-bottom: 0.7rem;
}

p#label_user {
    margin-bottom: 0.3rem;
}

div.cont_login {
    width: 177px;
    margin-top: 0px;
}

p#label_cont {
    margin-bottom: 0.3rem;
}

.user_login input {
    background-color: transparent;
}

.cont_login input {
    background-color: transparent;
}


/*
p#label_user {
    text-align: center;
    margin-top: 0px;
    margin-bottom: auto;
    margin-left: 0rem;
    margin-right: 7.6rem;
}

p#label_cont {
    text-align: center;
    margin-bottom: auto;
    margin-left: 0rem;
    margin-right: 5.5rem;
}

p#label_olvidada {
    text-align: center;
    text-decoration-line: underline;
    margin-right: -5rem;
}
*/

/*
button.botonAceptarLogin {
    display: block;
    background-color: #ffab00;
    border: 3px solid #c67c00;
    margin: 1em auto;
    height: 3em;
    width: 12em;
    border-radius: 3em;
}

button.botonAceptarLogin:hover {
    background-color: #c67c00;
    border: 3px solid #c67c00;
    color: white;
}
*/

.botonEnlace#AceptarLogin {
    color: #172122;
    border: solid #172122;
    background-color: rgba(61, 181, 211, 0.76);
    text-decoration: none;
    /* text-transform: uppercase; */
    font-weight: 500;
    font-size: 2rem;
    padding: 5px 10px;
    border-radius: 9px;
    cursor: pointer;
}

.botonEnlace#AceptarLogin:hover {
    background-color: #172122;
    border: 3px solid #172122;
    color: rgba(61, 181, 211);
}

.botonEnlace#AceptarLogin:active {
    background-color: #3cc4e6;
    border: 3px solid #172122;
    color: #172122
}

.finalDePagina {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Media Querys*/

@media(min-width:450px) {
    div.central {
        width: 20rem;
        height: 100%;
        padding: 1rem 1rem;
    }
}

@media(min-width:550px) {
    div.central {
        width: 30rem;
        height: 100%;
    }
}

@media(min-width:991px) {
    div.central {
        width: 30rem;
        height: 25rem;
    }
    a#atras {
        visibility: hidden;
    }
}

@media(min-height:710px) {
    footer.finalDePagina {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@media(min-height:800px, min-width:991px) {
    .finalDePagina {
        position: relative;
    }
}
