body{
    margin: 0;
    padding: 0;
    height: 100%;
}
#map {
    width: 100%;
    height: 92%;
    background-color: grey;
    border: solid 2px #333;
}
header{
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8%;
}
header .logo{
    margin-left: 1rem;
}
header.logo a img{
    max-width: 180px;
}
header .botonperfil{
    margin-right: 1rem;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header .botonperfil .btn{
    color: #00c5e8;
    border-color: #00c5e8;
}
header .botonperfil .btn:hover{
    background: #00c5e8;
    color: #333333;
    border-color: #333333;
}

.container{

    /*width: 90%;*/
    /*margin: 1rem 1rem 1rem 1rem;*/

    height: 100%;
}
.container .row .map{
    width: 300px;
    height: 500px;
    margin-top: 1rem;
    background-color: grey;
    border: solid 2px #333;
}
div.dropdown {
    z-index: 90;
    position: absolute;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
button.botonDropdown {
    background-color: rgb(131, 214, 234);
}

#ventanaInfo a{
    text-decoration: none;
}
#ventanaInfo a.enlace{
    color: #3cc4e6;
}

.ContenedorInfoWindow{
    display: flex;
    /*justify-content: flex-start;*/
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0.5rem 0;
    padding: 0.5rem 0.3rem;
    border: solid 1px black;
    border-radius: 0.2rem;
    background: #6c757d;
    
}

.ContenedorInfoWindow img{
    display: flex;
    justify-content: flex-end;
}

.ContenedorInfoWindow:hover{
    background: #4f575f;
    
}

.ContenedorInfoWindow p{
    text-decoration: none;
    color: #ede9e9;
    margin: 0 0;
    padding: 0 0.2rem;
}

.ContenedorInfoWindow img{
    width: 15px;
    height: 15px;
}

footer {
    text-align: center;
    background-color: #333333;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: grey;
}
