button.navbar-toggler {
    margin-left: 0rem;
}

nav.navbar {
    background-color: rgba(131, 214, 234, 0.72);
    padding: 0;
    margin: 0;
}

ul.mt-md-0 {
    margin-top: 0!important;
}

li.nav-item {
    padding-left: 1rem;
}

li.nav-item:hover {
    background-color: #395D66;
}

li.active {
    background-color: #2F99B3;
}



@media(min-width:991px) {
    nav.navbar {
        padding-left: 1rem;

    }
    li.nav-item {
        padding: 0;
    }
}
