/*
Colores usados:
    Primario:   #ffab00
    Light:      #ffdd4b
    Dark:       #c67c00
    Muy Darks:  

    Secudario:  #ffecb3  
    Light:      #ffffe5
    Dark:       #cbba83

    Letra párrafos: #333
    Letra párrafos sobre imagen: #222;
*/

/*Vista Móvil*/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
    ;
    background-color: #f9bd9b;
    background-size: cover;
}

/* div.vl {
    visibility: hidden;
} */

.central {
    background: url(../images/campo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-position: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* background-color: rgba(182, 191, 185, 0.46); */
    border-radius: .5rem;
    color: #000000;
    width: auto;
    height: auto;
    justify-content: center;
    font-family: 'Muli', sans-serif;
}

div.central .texto h2 {
    text-align: center;
    margin: auto;
    justify-content: center;
}

div.central .texto p {
    text-align: center;
    align-items: center;
    margin: 1.5rem;
    font-weight: bold;
    color: #000000;
}

div.central .texto p.moreinfo {
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    text-decoration: underline;
}

/* .boton-index {
    color: #3a6168;
    border: solid #3a6168;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 9px;
} */

.central .bajar a {
    z-index: 4;
    /* display: inline-block; */
    color: #3cc4e6;
    font-size: 4rem;
    animation: flecha-animada 2s ease-in-out infinite;
    text-decoration: none;
}

.central .bajar {
    display: flex;
    flex-direction: column;
}

.central .bajar .moreinfo {
    font-size: 1rem;
    text-decoration: none;
    color: #3cc4e6;
    /* display: inline-block; */
}

@keyframes flecha-animada {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    to {
        transform: translateY(0);
    }
}



button.botonEnlace#Login {
    color: #172122;
    border: solid #172122;
    background-color: rgba(61, 181, 211, 0.76);
    text-decoration: none;
    /* text-transform: uppercase; */
    font-weight: 900;
    font-size: 2rem;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 9px;
}

.botonEnlace#Login:hover {
    background-color: #172122;
    border: 3px solid #172122;
    color: rgba(61, 181, 211);
}

.botonEnlace#Login:active {
    background-color: #3cc4e6;
    border: 3px solid #172122;
    color: #172122;
}

/*PAGINA INFORMACION*/

.informacion {
    background-color: #F9C6A9;

    /*Gradiente extraño para el fondo en caso de que hubiera quedado bien*/
    /*background: #ffd5bd;
    background: -moz-radial-gradient(center, ellipse cover, #ffd5bd 0%, #ffd5bd 43%, #e0a689 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffd5bd), color-stop(43%, #ffd5bd), color-stop(100%, #e0a689));
    background: -webkit-radial-gradient(center, ellipse cover, #ffd5bd 0%, #ffd5bd 43%, #e0a689 100%);
    background: -o-radial-gradient(center, ellipse cover, #ffd5bd 0%, #ffd5bd 43%, #e0a689 100%);
    background: -ms-radial-gradient(center, ellipse cover, #ffd5bd 0%, #ffd5bd 43%, #e0a689 100%);
    background: radial-gradient(ellipse at center, #ffd5bd 0%, #ffd5bd 43%, #e0a689 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd5bd', endColorstr='#e0a689', GradientType=1); */
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 87%;
}

div.container-fluid {
    width: 100%;
    padding: 2rem 1rem;
    height: auto;
}

div.informacion div.row {
    margin: 0;
    margin-bottom: 3rem;

}

div.informacion div.row div.texto p {
    padding: 0 0;
    margin: 0;
}

img.imagenDerecha {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 13rem;
}

img.imagenDerechaOculta {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 13rem;
}

img.imagenIzquierda {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.izquierda {
    text-align: left !important;
}

.derecha {
    text-align: right !important;
}

@media(min-width:992px) {
    div.container-fluid {
        padding: 3rem 6rem;
    }

    img.imagenIzquierda {
        height: 9rem;
        width: auto;
        visibility: visible;
    }

    img.imagenDerechaOculta {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    img.imagenDerecha {
        margin: 0;
        height: 9rem;
        width: auto;
    }
}

/*FINAL DE PAGINA*/

.finalDePagina {
    background-color: #010608;
    font-family: sans-serif;
    position: relative;
    width: 100%;
}

/*Vista escritorio*/

/* @media(min-width:991px) {
    div.central {
        height: 20rem;
        display: flex;
        padding: 0rem;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    div.central h2 {
        flex: 1 1 0px;
    }

    div.central p {
        flex: 1 1 0px;
        color: #222;
    }

    div.botones {
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
    }
    div.boton {
        flex: 1 1 100%;
        margin: auto;
    }

    button.botonEnlace#Login {
        height: 3.5rem;
        width: 12rem;
        font-weight: bold;
        margin: auto;
        margin-left: 3rem;
    }

    p.login {
        padding: 0;
        margin: 0!important;
    }
}
 */

/*ANIMACIONES*/

@keyframes rotating {
    from {
        transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotating {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}
