/*
Colores usados:
    Primario:   #ffab00
    Light:      #ffdd4b
    Dark:       #c67c00
    Muy Darks:  

    Secudario:  #ffecb3  
    Light:      #ffffe5
    Dark:       #cbba83

    Letra párrafos: #333
    Letra párrafos sobre imagen: #222;
*/

/*Vista Móvil*/

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #83D6EA;
}

div.vl {
    visibility: hidden;
}

div.central {
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

div.central div.imagenContrataYa {
    margin: 0.5rem;
}

div.central div.imagenContrataYa img {
    border-radius: 1rem;
    width: 100%;
    height: 13rem;
}

div.central h2 {
    text-align: center;
    margin: 0 1.5rem;

}

div.central p {
    text-align: center;
    margin: 1.5rem;
    font-weight: bold;
    color: #333333;
}

button.botonEnlace#Tarifas {
    height: 3rem;
    width: 10rem;
    font-weight: bold;
}

button.botonEnlace#Login {
    height: 3rem;
    width: 10rem;
}

/*Vista escritorio*/

@media(min-width:550px) {
    div.central div.imagenContrataYa img {
        height: 20rem;
    }
}

@media(min-width:991px) {
    section.pagina_principal {
        background-image: url(../images/imagenContrataYa.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 2rem;
    }
    div.central {
        height: 20rem;
        display: flex;
        padding: 0rem;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    div.central h2 {
        flex: 1 1 0px;
    }

    div.central p {
        flex: 1 1 0px;
        color: #222;
    }
    div.vl {
        flex: 0 1 0px;
        visibility: visible;
        border-right: 1px solid #333;
        height: 70%;
    }
    div.botones {
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
    }
    div.boton {
        flex: 1 1 100%;
        margin: auto;
    }
    button.botonEnlace#Tarifas {
        height: 3.5rem;
        width: 12rem;
        font-weight: bold;
        margin: auto;
        margin-right: 3rem;
    }
    button.botonEnlace#Login {
        height: 3.5rem;
        width: 12rem;
        font-weight: bold;
        margin: auto;
        margin-left: 3rem;
    }

    p.login {
        padding: 0;
        margin: 0!important;
    }

    /*Esconder la imagen para ponerla de fondo*/
    div.central div.imagenContrataYa {
        margin: 0rem;
        visibility: hidden;
        height: 0rem;
        border: none;
    }
    div.central div.imagenContrataYa img {
        visibility: hidden;
        height: 0rem;
        width: 0rem;
        border-radius: 0px;
    }
    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
