<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/campo.css">
    <title>Selecionar campo</title>
</head>

<body>
    <header class="cabezal">
        <a href="index.html"><img src="images/logo_gtinegro%20copia.svg" alt="Logo GTI" class="logo " style="max-width: 200px; max-height: 80px;"></a>
    </header>
    <div class="contenedor">
    <div class="central">
        <section class="titulo">
            <h1>Seleccione el campo</h1><br>
            <!-- <p><em><strong>Ubicación:</strong></em></p> -->
        </section>
    </div>
    <div class="campos">
        <ul>
            <li><button type="button" onclick="continuar();">Campo Patatas</button></li>
            <li><button type="button" onclick="continuar();">Campo Tomates</button></li>
        </ul>
    </div>
    <!-- <section>
        <button type="button" id="aceptar_campo" class="botonEnlace" onclick="location.href='graficas.html'">Continuar</button>
    </section> -->
</div>

</body>
<script src="js/campo.js"></script>
</html>
