<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estructura basica</title>
    <!--Falta un favicon de GTI-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/estructura.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/botonEnlace.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <section>
        <div class="titulo">
            <h2>Hola</h2>
        </div>
    </section>
    <h1>HOLA</h1>
</body>
</html>