<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">

    <title>Gráficas</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/es.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</head>

<body>
    <div class="contenedor">
        <header class="">
            <img src="images/logo_gtinegro.svg" alt="Logo Empresa GTI" style="max-width: 200px; max-height: 80px;">
            <!--            <img src="images/menu.svg" alt="enlace menu">-->
        </header>

        <div class="contenidoCentral">

            <div class="seleccion"></div>
            <h1>Seleccione el sensor</h1>
            <select>
                 <option value="nada">Sensores</option>
                  <option value="humedad">Humedad</option>
                  <option value="temperatura" selected>Temperatura</option>
                  <option value="sal">Salinidad</option>
                  <option value="lumi">Luminosidad</option>
                </select>
            <div class="grafica">
                <h3>Ubicación: </h3>
                <h3 id="concreto"></h3>
                <canvas id="grafica" max-width="500" max-height="400"> </canvas>

                <script>
                    var inicio = moment('00:00');

                    var opciones = {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Horas'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Temperatura ºC'
                                },
                                ticks: {
                                    min: 0,
                                    max: 40,
                                    stepSize: 2
                                }
                            }]
                        }
                    };


                    var datos = {
                        labels: ['00: 00', '02:00', '04:00', '06: 00', '08:00', '10: 00', '12:00', '14:00', '16: 00', '18:00', '20:00', '22:00', '24:00'],
                        datasets: []
                    };

                    var avanceReal = {
                        label: 'Temperatura sonda',
                        backgroundColor: '#ffab00',
                        borderColor: '#ffab00',
                        fill: false,
                        data: [15, 17, 17, 18, 20, 20, 21, 19, 19, 16, 15, 14, 14]
                    };



                    datos.datasets = [avanceReal];

                    var ctx = document.getElementById('grafica').getContext('2d');

                    var chart = new Chart(ctx, {
                        type: 'line',
                        data: datos,
                        options: opciones
                    });

                </script>

            </div>
        </div>
        <footer>
            <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        </footer>
    </div>
</body>
