<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">

    <title>Gráficas</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/es.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</head>

<body>
    <div class="contenedor">
        <header class="">
            <img src="images/logo_gtinegro.svg" alt="Logo Empresa GTI" style="max-width: 200px; max-height: 80px;">
            <!--            <img src="images/menu.svg" alt="enlace menu">-->
        </header>

        <div class="contenidoCentral">

            <div class="seleccion"></div>
            <h1>Seleccione el sensor</h1>
            <select id="selector" onchange="pedirDatos();">
                 <option value="" selected>Sensores</option>
                  <option value="humedad">Humedad</option>
                  <option value="temperatura">Temperatura</option>
                  <option value="sal">Salinidad</option>
                  <option value="lumi">Luminosidad</option>
                </select>
            <div class="grafica">
                <h3>Ubicación: </h3>
                <h3 id="concreto"></h3>
                <canvas id="grafica" max-width="500" max-height="400"> </canvas>

                <script src="js/grafica.js"></script>

            </div>
        </div>
        <footer>
            <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        </footer>
    </div>
</body>
