<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>GTI | Grado en tecnologias interactivas</title>
    <!--Falta un favicon de GTI-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/principal.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/botonEnlace.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>

<body>
    <section class="pagina_principal" id="Subir">
        <!--Cabecera-->
        <header>
            <div class="cabezal">
                <div class="logo"><a href="index.html"><img src="images/logo_GTI_azul.png" alt="Logo GTI" class="logo"></a></div>
                <!-- <button type="button" id="Login" class="botonEnlace" onclick="location.href='login.html'">Iniciar sesión</button>
                <a href="index.html" id="atras"><img src="images/" alt="Volver atrás"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="images/menuA.png" alt="menú">
                </button> -->
            </div>
            
            <!-- Menú -->
            <!-- <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">Inicio Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tarifas.html">Tarifas</a>
                        </li>
                    </ul>
                </div>
            </nav> -->
        
        </header>
        <!--Parte central-->
        <div class="central">
                <div class="texto">
                    <h2>Controla tu campo desde cualquier sitio</h2>
                    <p>Un servicio web que permite realizar un control diario de los productos de la tierra, para mejorar la producción.</p>
                    <!--Botones-->
                    <div class="botones">
                        <div class="boton">
                            <button type="button" id="Login" class="botonEnlace" onclick="enlaceLogin()">¡Entra ya!</button>
                        </div>
                    </div>
                    
                </div>
                <div class="bajar text-center">
                   <a href="#informacion">
                       <i class="fas fa-sort-down"></i>
                   </a>
                </div>
        </div>
    </section>
    <section class="informacion" id="informacion">
        <h2>Prueba bajar pantalla</h2>
    </section>
    <!--Parte final-->
    <section class="finalDePagina">
        <!-- <footer>
            <div class="copy">
                <label for="copyright">Copyright &copy; 2018 | GTI </label><br/>
                <label for="derechos">Todos los derechos reservados | <a href="terminos.html">Terminos de uso</a></label>
            </div>
            <div class="redesSociales">
                <a href="http://www.twitter.es/"><img src="images/TwitterA.png" alt="Twitter"></a>
                <a href="http://www.facebook.es/"><img src="images/facebook2A.png" alt="Facebook"></a>
                <a href="http://www.linkedin.com/"><img src="images/linkedinA.png" alt="Linkedin"></a>
            </div>
        </footer> -->
    </section>

    <script src="js/index.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
