<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/botonEnlace.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="form-validation.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="form-validation.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <title>Inicio de Sesión</title>


</head>

<body>
    <header>
        <div class="cabezal">
            <div class="logo"><a href="index.html"><img src="images/logo_GTI_azul.png" alt="Logo GTI"></a></div>
            <!--<a href="index.html"><img src="images/001-return-buttonA.png" alt="Volver atrás" class="volver"></a>-->
            <a href="index.html"><i class="fa fa-arrow-circle-left" id></i></a>
        </div>


        <!--<nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="login.html">Inicio Sesión<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tarifas.html">Tarifas</a>
                    </li>
                </ul>
            </div>
        </nav>-->


    </header>
    <section class="Pagina_login" id="nosequePoner">

        <!-- Cabecera-->

        <!-- Parte central-->
        <div class="central">
            <h2>Inicio de Sesión</h2>

            <!--Alerta de inicio de sesión-->
            <div class="alert alert-danger" role="alert" id="cuadroAlerta">
                <p id="alerta"></p>
            </div>


            <!-- marcos de texto -->
            <!-- <form action="#" id="login" class="login">
                <div class="user_login input-group mb-3">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input id="user" type="text" placeholder="Username">
                    <br/>
                </div>
                <div class="cont_login">
                    <input id="password" type="password" placeholder="Password">
                </div>
                <div class="olvidada-login">
                    <a href="contrasena.html">
                        <p id="label_olvidada"><em>¿Contraseña olvidada?</em></p>
                    </a>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block botonAceptarLogin" id="AceptarLogin" onclick="comprobar_login();"> Aceptar </button>
            </form> -->
            <form id="login" class="login">
                <div class="user_login input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="user" placeholder="Username" required>
                    <div class="invalid-feedback" style="width: 100%;">
                        Your username is required.
                    </div>
                </div>
                <div class="input-group mb-3 user_login">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" id="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                </div>
                <div class="olvidada-login">
                    <a href="contrasena.html">
                        <p id="label_olvidada"><em>¿Contraseña olvidada?</em></p>
                    </a>
                </div>
                <button class="btn btn-primary btn-lg btn-block botonEnlace" id="AceptarLogin" onclick="comprobar_login()" type="submit">Aceptar</button>
            </form>



            <!-- Botones -->
            <!-- <button type="submit" class="botonAceptarLogin" onclick="comprobar_login();"> Aceptar </button> -->
        </div>
    </section>
    <!--Parte final-->
    <section class="finalDePagina">
        <footer>
            <div class="copy">
                <label for="copyright">Copyright &copy; 2018 | GTI </label><br/>
                <label for="derechos">Todos los derechos reservados | <a href="terminos.html">Terminos de uso</a></label>
            </div>
            <!--<div class="redesSociales">
                <a href="http://www.twitter.es/"><i class="fab fa-twitter-square"></i></a>
                <a href="http://www.facebook.es/"><i class="fab fa-facebook-square"></i></a>
                <a href="http://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
            </div>-->
        </footer>
    </section>
    <script src="js/login.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
