<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/botonEnlace.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Inicio de Sesión</title>


</head>

<body>
    <section class="Pagina_login" id="nosequePoner">
        <!-- Cabecera-->
        <header>
            <div class="cabezal">
                <div class="logo"><a href="index.html"><img src="images/logo_gtinegro%20copia.svg" alt="Logo GTI" class="logo"></a></div>
                <a href="index.html" id="atras"><img src="images/001-return-button.svg" alt="Volver atrás"></a>
            </div>


            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="login.html">Inicio Sesión<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tarifas.html">Tarifas</a>
                        </li>
                    </ul>
                </div>
            </nav>


        </header>
        <!-- Parte central-->
        <div class="central">
            <h1>Inicio de Sesión</h1>

            <!--Alerta de inicio de sesión-->
            <div class="alert alert-danger" role="alert" id="cuadroAlerta">
                <p id="alerta"></p>
            </div>


            <!-- marcos de texto -->
            <form action="#" id="login" class="login">
                <div class="user_login">
                    <p id="label_user">Usuario</p>
                    <input id="user" type="text" placeholder="Escriba su usuario">
                    <br/>
                </div>
                <div class="cont_login">
                    <p id="label_cont">Contraseña</p>
                    <input id="password" type="password" placeholder="Escriba su contraseña">
                </div>
                <div class="olvidada-login">
                    <a href="contrasena.html">
                        <p id="label_olvidada"><em>¿Contraseña olvidada?</em></p>
                    </a>
                </div>
            </form>


            <!-- Botones -->
            <button type="button" class="botonAceptarLogin" onclick="comprobar_login();"> Aceptar </button>
        </div>
    </section>
    <!--Parte final-->
    <section class="finalDePagina">
        <footer>
            <div class="copy">
                <label for="copyright">Copyright &copy; 2018 | GTI </label><br/>
                <label for="derechos">Todos los derechos reservados | <a href="terminos.html">Terminos de uso</a></label>
            </div>
            <div class="redesSociales">
                <a href="http://www.twitter.es/"><img src="images/Twitter.svg" alt="Twitter"></a>
                <a href="http://www.facebook.es/"><img src="images/facebook2.svg" alt="Facebook"></a>
                <a href="http://www.linkedin.com/"><img src="images/linkedin.svg" alt="Linkedin"></a>
            </div>
        </footer>
    </section>
    <script src="js/login.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
