<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">

    <title>Mapa de sensores</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/mapa.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/navbar.css">

</head>

<body>
<!--Cabecera-->
        <header>
            <div class="logo">
              <a href="index.html"><img src="images/logo_GTI_azul.png" alt="Logo GTI" class="logo"></a>
            </div>
                <!--<button type="button" id="Login" class="botonEnlace" onclick="location.href='login.html'">Iniciar sesión</button>-->
                <!--<a href="index.html" id="atras"><img src="images/" alt="Volver atrás"></a>-->
            <div class="botonperfil">
                <button type="button" onclick="location.href='perfil.html'" class="btn btn-outline-light">Perfil</button>
            </div>
            <!-- Menú -->
            <!--
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="perfil.html">Perfil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="campo.html">Campos</a>
                        </li>
                    </ul>
                </div>
            </nav> -->
        </header>
    <div class="container">
       <div class="row">
            <div class="seleccion">
                <h3 class="col-">Seleccione la zona</h3>
                <select id="selector" onchange="">
                      <option value="humedad">Humedad</option>
                      <option value="temperatura">Temperatura</option>
                      <option value="salinidad">Salinidad</option>
                      <option value="iluminacion">Iluminación</option>
                      <option value="presion">Presión Atmosférica</option>
                </select>
            </div>
            <div id="map" class="map col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            </div>
       </div>

    <!--
        <input type="submit" onclick="addZone([{lat:39, lng: -0.16},{...},{...}])">
        <input type="submit" onclick="addMarker(39, -0.16, 'aaaaah')">
    -->
    </div>
    <footer>
        <p>© 2018 Interactive Technologies, Inc.</p>
    </footer>
    
    <script src="js/mapa.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPONQfQzjp3cGzsMLPscR9651VjXkL8AY&callback=initMap"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
